td {
  background-color: rgb(164, 164, 164);
  cursor: pointer;
  border-radius: 10%;
}
.easy {
  height: 5rem;
  width: 5rem;
  img {
    height: 4rem;
    width: 4rem;
  }
}

.medium {
  height: 3.5rem;
  width: 3.5rem;
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.hard {
  height: 2.5rem;
  width: 2.5rem;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
  p {
    margin: 0;
  }
}
.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding-bottom: 1rem;

  .flag-icon {
    height: 1.5rem;
    padding-right: 0.3rem;
  }
}

.bomb {
  animation: rotation 2s infinite linear;
}

.mine-count {
  background: none;
  margin: 0;
  color: #09041e;
  font-size: 1.5rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
